.responsive-width {
	width: 30%;
	margin-left: 34%;
}

@media (max-width: 1200px) {
	.responsive-width {
		width: 100%;
		margin-top: 20%;
		margin-left: 0;
	}
}

.pointer {
	cursor: pointer;
}

.responsive-pdf {
	width: 100%;
	height: 940px;
	border: none;
}

@media (max-width: 1200px) {
	.responsive-pdf {
		width: 100%;
		height: 485px;
		border: none;
	}
}
